:root {
    --color-dark: #151619;
    --color-white: #fff;
    --color-gray: #C5C7CE;
    --color-gray-hover: #393C46;
    --color-gray-dark: #22242A;

    --font-family-primary: 'Inter', sans-serif;
    --font-size-primary: 14px;
}