.layout {
    margin: 56px 72px;
    width: 100%;
}
.title {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 130%;
    margin-bottom: 40px;
}
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

.openFilter {
    display: none !important;
    margin-top: 21px;
}

@media (width < 960px) {
.layout {
    width: auto;
    margin: 40px 30px;
    & .openFilter {
    display: flex !important;
}
}
}
@media (width < 425px) {
.layout {
    margin: 32px 8px;
}
}
