.layout {
  margin: 60px 100px;
  & .content {
    margin-top: 30px;
    & .title {
      font-family: var(--font-family-primary);
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 130%;
    }
    & .characteristics {
      max-width: 400px;
      margin-top: 40px;
      gap: 30px 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      & .type {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        & > span {
          font-family: var(--font-family-primary);
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1rem;
        }
        & > span:first-child {
          color: #818798;
        }
      }
      & .port {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        & > span {
          font-family: var(--font-family-primary);
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1rem;
        }
        & > span:first-child {
          color: #818798;
        }
      }
      & .weight {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        & > span {
          font-family: var(--font-family-primary);
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1rem;
        }
        & > span:first-child {
          color: #818798;
        }
      }
      & .years {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        & > span {
          font-family: var(--font-family-primary);
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1rem;
        }
        & > span:first-child {
          color: #818798;
        }
      }
    }
    & .img {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > span {
        font-family: var(--font-family-primary);
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1rem;
        color: #818798;
      }
      & > img {
        object-fit: cover;
        max-width: 350px;
        height: 300px;
      }
    }
  }
}

@media (width < 768px) {
  .layout {
    & .content {
      & .title {
        line-height: 3rem;
      }
    }
    margin: 30px 50px;
  }
}

@media (width < 425px) {
  .layout {
    margin: 30px 8px;
    & .content {
      & .characteristics {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }
    }
  }
}
