@import "./styles/index.scss";

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  background-color: var(--color-dark);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

@media (width > 960px) {
  #ModalSidebar {
    display: none !important;
  }
}

@media (width < 960px) {
  .container {
    position: relative;
    flex-direction: column;
  }
}
