.button {
    & > span {
        display: flex;
    }
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: var(--font-family-primary);
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 140%;
    color: var(--color-white);
    background: transparent;
    border: none;
    gap: 0.5rem;
    &:hover {
        & path {
            stroke: var(--color-gray);
        }
        color: var(--color-gray);
    }
}