.rootCard {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    border-radius: 8px;
    padding: 32px;
    background-color: var(--color-gray-dark);
    & .productTitle {
        font-family: var(--font-family-primary);
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.9rem;
    }
    & .characteristics {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
    }
    & .type {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        & > span {
            font-family: var(--font-family-primary);
            font-style: normal;
            font-weight: 500;
            font-size: 1.15rem;
            line-height: 1rem;
        }
        & > span:first-child {
            color: #818798
        }
    }
    & .port {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        & > span {
            font-family: var(--font-family-primary);
            font-style: normal;
            font-weight: 500;
            font-size: 1.15rem;
            line-height: 1rem;
        }
        & > span:first-child {
            color: #818798
        }
    }
    & .arrowRight {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: 32px;
    }
    &:hover {
        background-color: var(--color-gray-hover);
    }
}

@media (width < 650px) {
.rootCard {
    & .characteristics {
        flex-direction: column;
        gap: 16px;
    }
    & .arrowRight {
        display: none;
    }
    & .productTitle {
        font-size: 1rem;
    }
}
}